body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-size: 100%;
  background-repeat: repeat;
  color: aliceblue;
  text-align: center;
  display: flex;
  background: linear-gradient(85deg, rgba(2,0,36,1) 0%, rgba(9,43,121,1) 38%, rgba(0,212,255,1) 100%);
  justify-content: center;
  align-items: center;
}
.container{
  width: 400px;
  height: 400px;
  margin-top: 80px;
  border-radius: 50px;
  background: linear-gradient(284deg, rgba(2,0,36,1) 0%, rgba(9,43,121,1) 35%, rgba(0,212,255,1) 100%);
}
.sub-container{
  padding: 50px;
}
input{
  border-radius: 10px;
  margin: 10px;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  border: none;
}
button{
  border-radius: 10px;
  margin-top: 25px;
  border:  2px rgb(17, 76, 204);
  padding: 10px;
}